header {
   color: rgb(102, 102, 114);
   background-color: black;
}

body {
   color: black;
   font-family: 'Ubuntu', sans-serif;
}


footer {
   color: rgb(102, 102, 114);
   background-color: white;
}