{% if status is not defined %}
	{# si status pas défini on affiche le formulaire pour créer un film #}
	
<div class="card">
  <div class="card-body">
	<form action="creer_film" method="post">
		<div class="bloc_formulaire">
			<label for="title">Titre</label>
			<input type="text" placeholder="entrer le titre" name="titre" required>

			<label for="description">Description</label>
			<input type="text" placeholder="entrer la description" name="description" required>
			<button type="submit">
				Ajouter</button>
		</div>
	</form>
  </div>
</div>{% else %}

<div>
	<p>{{status}}
		:</p>
	{# si film défini affiche films #}
	{% if film is defined %}
		{{film.get_titre}}
		:
		{{film.get_realisateur}}
	</div>
{% endif %}{% endif %}
