<div>
    {% for movie in allfilms %}
<div>
    <form action = "supprimer_film" method="post">
        <div class ="bloc">
            <button type="submit">Supprimer</button>
            <label for="title">{{movie.get_title}} :</label>
            <label for="description">{{movie.get_description}}</label>
            <input value="{{movie.get_id}}" name="id" type="hidden">
        </div>
    </form>
</div>
    {% endfor %}
</div>