<hr><footer>
       <nav class="navbar bg-light">
              <div class="container-fluid">
                     <span class="navbar-text">
                     AFPA 2018 - Vincenzo Tinebra
                     </span>
              </div>
       </nav>
</footer>
</body>
</html>