{% if status is not defined %}

	<form action="login" method="post">
		<div class="card mb-5 mt-5 m-auto" style="width: 17rem; height:20rem">
			<div class="card-body m-auto">
				<div class="row">
					<div class="col-12 ml-3">
						<h1 class="pt-2 mb-2">Connexion</h1>
					</div<divclass="col-12">
					{% if password is not defined %}
						<label class="form-label text-danger">Email ou mot de passe incorrect</label>
					{% endif %}
					{% if email is not defined %}
						<input name="email" type="email" class="form-control mb-3" placeholder="youremail@email.com">
					{% else %}
						<input value={{email}} name="mail" type="email" class="form-control mb-3" placeholder="Email">
					{% endif %}
					{% if password is defined %}
						<input name="password" type="password" class="form-control mb-2" placeholder="***">
					{% else %}
						<input value={{password}} name="password" type="password" class="form-control mb-2" placeholder="***">
					{% endif %}

				</div>
			</div>
			<div class="row">
				<div class="col-12 m-auto form-check">
					<input name="remember" class="form-check-input mb-1 mt-1 ml-4" type="checkbox" value="rememberMe" id="Check">
					<label class="form-check-label mb-2 mt-1 ml-4" for="flexCheckDefault">
						Remember me
					</label>
				</div>
			</div>
			<!--button-->
			<div class="row">
				<div class="col-12 mb-2">
					<button type="submit" class="btn btn-primary mt-1 mb-1">Sign in</button>
					<i class="fa fa-sign-in" aria-hidden="true"></i>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center">
					<a name="creer_compte" href="creer_compte.php">ou créer un compte</a>
				</div>
			</div>
		</div>
	</div>
</form></div>{% else %}<div class="container text-center">
<div class="row">
	<div class="col-12 m-auto text-center">
		<label class="form-label">Vous êtes connecté</label>
	</div>
</div></div>{% endif %}
