<div class="row">
	<div class="p-5 mb-2 ">
		<div class="col-sm-3 border-0 ">
			<div class="card">
  				<div class="card-body">
  					<div class="formulaire">
						<form action="login" method="POST">
							<fieldset>
								<legend>Connexion
							</legend>

						<div class="mb-3">

							<input type="email" nom="email" placeholder="sande@afpa.fr" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						</div>

						<div class="mb-3">

							<input type="password" nom="password" placeholder=" *** " class="form-control" id="exampleInputPassword1">
						</div>

						<div class="mb-3 form-check rounded">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">Remember me</label>
						</div>
						<!--button-->
						<button type="submit" class="btn btn-primary">Sign in
							<i class="fa fa-sign-in" aria-hidden="true"></i>
						</button>
							<a href="creer_user" class="card-link">ou créer un compte</a>
				</div>
			</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	
<div class="card">
  <div class="card-body">
	<form action="creer_film" method="post">
		<div class="bloc_formulaire">
			<label for="title">Titre</label>
			<input type="text" placeholder="entrer le titre" name="titre" required>

			<label for="description">Réalisateur</label>
			<input type="text" placeholder="entrer le réalisateur" name="realisateur" required>
			<button type="submit">
				Ajouter</button>
		</div>
	</form>
  </div>
</div>




</div>

<div>
	{# si compte définie affiche utilisateur #}
	{% if user is defined %}
		{{user.get_email}}:
		{{user.get_password}}
	</div>
{% endif %}
