<div class="row">
	<div class="p-5 mb-2 ">
		<div class="col-sm-3 border-0 ">
			<div class="formulaire">
				<form action="login" method="post">
					<fieldset>
						<legend>
							Connexion
						</legend>

						<div class="mb-3">
							<label for="exampleInputEmail1" class="form-label">Email address</label>
							<input type="email" placeholder="sande@afpa.fr" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						</div>

						<div class="mb-3">
							<label for="exampleInputPassword1" class="form-label">Password</label>
							<input type="password" placeholder=" *** " class="form-control" id="exampleInputPassword1">
						</div>

						<div class="mb-3 form-check">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">Remember me</label>
						</div>
						<!--button-->
						<button type="submit" class="btn btn-primary">Sign in
							<i class="fa fa-sign-in" aria-hidden="true"></i>
						</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
