 <div class="container-fluid">
        <div class="bg-light p-4">
            <div class="row">
              <div class="col-12">
                <h1 class ="fw-bold">Rechercher un film</h1=fw-bold>
              </div>
              <div class="col-12"><p>Saisir un mot du titre</p></div>
                <div class="col-6">
               <form class="row g-3" action = "rechercher_film" method="post">
                    <div class="col-auto"><input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" /></div>
                    <div class="col-auto"><button type="button" class="btn btn-outline-secondary">Rechercher</button></div>
                </form>
                </div>
              </div>
        </div>
         {# fin bloc rechercher un film #}         
                        
                    
{% if movie is not defined %}  {# si le film est inconnu on affiche un message et une image vide #}

<h2>Film non trouvé</h2>
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://via.placeholder.com/250" class="d-block w-100" alt="affiche film">
    </div>
  </div>
</div>


{% else %}
{% endif %}
{% for movie in allmovies %} {# pour tous les films trouvés on affiche ses infos #}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{film.get_affiche}}" class="d-block w-100" alt="affiche film">
    </div>
  </div>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Acteurs:</h5>
    <p class="card-text">{{film.get_prenom}} {{film.get_nom}} ( {{film.get_tabRoles}})<br></p>
  </div>
</div>
</div>


{# boutons carrousel #}
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="visually-hidden">Next</span>
  </button>      
            
            </div>
        </div>
    </div>
    {% endfor %}